html {
    box-sizing: border-box;
}
* {
    box-sizing: inherit;
    font-family: "Roboto";
    color: #242742;
}

body {
    display: flex;
    justify-content: center; /* Centrerer horisontalt */
    align-items: center;
    background-color: #242742;
}

.card {
    margin: 7.5rem 12.5rem;
    border: none;
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 25px;
}

.left-side {
    flex-basis: 44%;
    margin-left: 4rem;
    margin-bottom: 2.5rem;
}

h1 {
    margin-top: 6rem;
    font-size: clamp(3.5rem, 4.5vw, 4rem);
    font-weight: 700 !important;
    margin-bottom: 1rem;
}

.sub-head {
    margin-top: 1.5rem;
    font-weight: 400;
    font-size: 1.3rem;
}

main {
    margin-top: 1.2em;
    margin-bottom: 2.5rem;
}

.update {
    display: flex;
    margin: 0 0;
    align-items: center;
}

.check {
    padding-right: 1rem;
    width: 2.5rem;
    height: auto;
}

.check-text, .check {
    margin: 0.5rem 0;
    font-size: 1.15rem;
}

.email {
    margin-bottom: 0.8rem;
    font-weight: 700;
    font-size: 0.8rem;
}

.text-field-and-button {
    display: flex;
    flex-direction: column;
    height: 9rem;
    justify-content: space-between;
}

.email-field, .button {
    height: 0.2rem;
    width: 26.5rem;
    border-radius: 10px;
}

.email-field {
    flex-basis: 42%;
    border: 0.01rem solid rgba(128, 128, 128, 0.7);
}

.email-field:hover {
    border-color: rgba(36, 39, 66, 1);
    cursor: pointer;
    transition: border 0.2s ease;
}

.email-field:hover::placeholder {
    opacity: 1;
    color: #242742;
    transition: opacity 1.2s ease;
}

.email-field::placeholder {
    padding-left: 1.25rem;
    opacity: 0.7;
    font-size: 1rem;
}

.button {
    flex-basis: 42%;
    border: none;
    background:#242742;
    color: white;
}

.button-text {
    opacity: 0.95;
    color: white;
    font-weight: 700;
    font-size: 1rem;
}

.button:hover {
    background: linear-gradient(to right, #FF6A3A, #FF527B);
    cursor: pointer;
    transform: scale(1.02);
    transition: transform 0.5s ease;
}

.right-side {
    flex-basis: 44%;
    margin-right: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

.preview {
    width: 100%;
    height: auto;
}

